{% extends "base.html" %}

{% block content %}
<div class="category-page" style="text-align: center; margin-bottom: 30px;">
  <h2 style="font-size: 32px; color: #9d174d; ">🎵 Музыкальные события</h2>
  <p style="font-size: 18px; color: #333;">
    Концерты, уличные выступления и джем-сейшны ждут тебя. Почувствуй ритм города!
  </p>
</div>

<div class="music-cards" style="display: flex; flex-wrap: wrap; gap: 30px; justify-content: center;">
  <!-- Карточка 1 -->
  <div style="background-color: white; border-radius: 12px; overflow: hidden; width: 100%; max-width: 600px; box-shadow: 0 4px 10px rgba(0,0,0,0.1);">
    <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbWR6bXhlc3hkdGVzeWJjODN0YmhzZW1tZ3J1ZmFzd2c2ZDI4dTRyNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7btXPk41J9fP9OPm/giphy.gif" alt="Концерт" style="width: 100%; height: 250px; object-fit: cover;">
    <div style="padding: 20px;">
      <h3 style="color: #7c3aed; font-size: 24px;">Летний рок-фестиваль</h3>
      <p>📅 20 июля 2025 | 📍 Арена OpenAir, Алматы</p>
      <p>🎵 Категория: Музыка</p>
      <p>🌍 Координаты: 43.2565, 76.9286</p>
      <p style="color: #444;">
        Живой звук, крутые группы, фудкорты и море драйва — не пропусти главное музыкальное событие лета!
      </p>
    </div>
  </div>

  <!-- Карточка 2 -->
  <div style="background-color: white; border-radius: 12px; overflow: hidden; width: 100%; max-width: 600px; box-shadow: 0 4px 10px rgba(0,0,0,0.1);">
    <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjBrbW1sYmM4anY2M2VhYW9nZTNmb3Mxc3E0dG84ZGM3eDI2ZW92YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/82XzsiA3yOtJjMPXZI/giphy.gif" alt="Уличная музыка" style="width: 100%; height: 250px; object-fit: cover;">
    <div style="padding: 20px;">
      <h3 style="color: #7c3aed; font-size: 24px;">Jam Street</h3>
      <p>📅 28 июля 2025 | 📍 Улица Панфилова, Алматы</p>
      <p>🎵 Категория: Музыка</p>
      <p>🌍 Координаты: 43.2496, 76.9396</p>
      <p style="color: #444;">
        Импровизация, свобода и живое общение — приходи сыграть или послушать уличных музыкантов.
      </p>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

 <!-- Карта -->
  <div id="map" style="height: 300px; border-radius: 12px; border: 2px solid #f090c7;"></div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}

<script>
  var map = L.map('map').setView([43.2389, 76.8897], 13);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap'
  }).addTo(map);

  L.marker([43.2389, 76.8897])
    .addTo(map)
    .bindPopup("Пример мероприятия");
</script>

{% endblock %}
