{% extends "base.html" %}

{% block content %}
<div class="category-page" style="text-align: center; margin-bottom: 30px;">
  <h2 style="font-size: 32px; color: #1e3a8a;"> 🎵 Музыкальные события </h2>
</div>

<div class="sport-cards" style="display: flex; flex-wrap: wrap; gap: 30px; justify-content: center;">
  <!-- Карточка 1 -->
  <div style="background-color: white; border-radius: 12px; overflow: hidden; width: 100%; max-width: 600px; box-shadow: 0 4px 10px rgba(0,0,0,0.1);">
    <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaml4NzF3andsMnd3c3R1dmpmOTYwanZtcHBvaHpzc2NneGMxNHh6ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/mHa5x8gAes5iC46wpV/giphy.gif" alt="Йога" style="width: 100%; height: 250px; object-fit: cover;">
    <div style="padding: 20px;">
      <h3 style="color: #1e3a8a; font-size: 24px;">Концерт на крыше</h3>
      <p style="margin: 8px 0;">📅 19 июля 2025 | 📍 ЖК "Дипломат" , Астана</p>
      <p>🎵 Категория: Музыка </p>
      <p>🌍 Координаты: 63.2389, 86.8897</p>
      <p style="color: #444;">
       Проведите вечер под открытым небом на крыше Rooftop Bar! Слушайте живую музыку от локальных исполнителей, наслаждаясь великолепным видом на вечерний Алматы. В программе — выступления известных музыкантов, а также специальные предложения на напитки. Это идеальное место для романтического вечера или встречи с друзьями. Бронируйте столики заранее!</p>
      </p>
    </div>
  </div>


  </div>

{% endblock %}



