{% extends "base.html" %}

{% block title %}Спасибо!{% endblock %}


{% block content %}
    <div style="text-align: center; padding: 50px; background-color: white; border-radius: 12px; box-shadow: 0 0 10px rgba(0,0,0,0.1); max-width: 600px; margin: 60px auto;">
        <div style="font-size: 60px; color: #ff85a2;">✔</div>
        <h1 style="font-size: 32px; margin-top: 20px; color: #ff85a2; ">Спасибо за обращение!</h1>
        <p style="font-size: 18px; margin-top: 10px; color: #333;">Ваша заявка была успешно отправлена. Мы свяжемся с вами в ближайшее время.</p>

        <a href="/" style="display: inline-block; margin-top: 30px; padding: 12px 24px; background-color: #ff85a2; color: white; text-decoration: none; border-radius: 8px; font-weight: bold;">
            Вернуться на главную
        </a>
    </div>
{% endblock %}

